<div class="container-lg">
  <div class="row">
    <div class="col-12 col-md-8" id="contact">
      
      <h1 class="title">ENTRE EM CONTATO</h1>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis viverra magna eu tempor. Sed a vulputate mauris. Pellentesque laoreet viverra nisl, 
        et malesuada mauris molestie sed. Mauris ipsum tortor, pretium eget pulvinar sit amet, malesuada quis turpis. In hac habitasse platea dictumst. Integer 
        nec vehicula nisi. Fusce hendrerit tempor dui, eu aliquam lectus dignissim in. Nulla ultricies tincidunt lectus quis fringilla. Suspendisse ultrices odio
        in dolor pretium ultricies.Nulla ultricies tincidunt lectus quis fringilla. Suspendisse ultrices odio.
      </p>

      <div id="contact-form">
        <form>
          <div class="form-row">
            <div class="form-group col-6">
              <input type="text" class="form-control" id="name" placeholder="Nome">
            </div>
            <div class="form-group col-6">
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="mensagem" rows="5" placeholder="Mensagem"></textarea>
          </div>
          <div class="button-box text-right">
            <button class="btn btn-light btn-send" tabindex="0">Enviar</button>
          </div>
        </form>
      </div>
      

    </div>

    <app-subscribe [writer]="writer" class="col-12 col-md-4 col-lg-3  about-me"></app-subscribe>

  </div>
</div>
