<nav class='navbar nav-social navbar-expand navbar-light bg-light'>
  <div class="container nav-menu">
    <ul class='navbar-nav mr-auto'>
      <li class="nav-item" *ngFor="let item of socialmedia" [routerLinkActive]='["active"]'
        [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link" href='{{item.link}}'>
          <fa-icon [icon]="['fab', item.icon]" [classes]="['fa-icon']"></fa-icon>
        </a>
      </li>
      <li>
        <app-user-menu [smallUser]="smallUser"></app-user-menu>
      </li>
    </ul>
  </div>
</nav>