<footer>
  <div class="container">
    <div class="icons" *ngIf="socialmedia">
      <a *ngFor="let item of socialmedia" href="{{item.link}}">
        <fa-icon [icon]="['fab', item.icon]" class="icon icon-{{item.name}}"></fa-icon><span
          class=" icon-name d-none d-md-inline ">{{item.name}}</span>
      </a>
    </div>

    <div class="instagram-gallery">
      <h3>INSTAGRAM</h3>
        <div *ngFor="let media of instaMedia; let i = index" class="image-box" [ngClass]="'insta' +i" >
        <a href="https://www.instagram.com/ateliernobree"><img src={{media.mediaUrl}} class="item-gallery"> </a>
        </div>
    </div>

    <hr>

    <div class="row follow-social justify-content-center">
      <p class="follow">Follow me</p>
      <p class="socialize">Socialize!</p>
    </div>



    <div class="icons-2" *ngIf="socialmedia">
      <a *ngFor="let item of socialmedia" href="{{item.link}}">
        <fa-icon [icon]="['fab', item.icon]" class="icon icon-{{item.name}}"></fa-icon>
      </a>
    </div>

    <div class="credits">
      <p> Created by <strong>@HnlCompany</strong> - All Right Reserved</p>
    </div>
  </div>
</footer>